<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="data">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="twilioSid">
      <mat-header-cell *matHeaderCellDef> Twilio SID </mat-header-cell>
      <mat-cell *matCellDef="let call"> {{call.twilioSid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="toNumber">
      <mat-header-cell *matHeaderCellDef> To Number </mat-header-cell>
      <mat-cell *matCellDef="let call"> {{call.toNumber}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fromNumber">
      <mat-header-cell *matHeaderCellDef> From Number </mat-header-cell>
      <mat-cell *matCellDef="let call"> {{call.fromNumber}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="callStatus">
      <mat-header-cell *matHeaderCellDef> Call Status </mat-header-cell>
      <mat-cell *matCellDef="let call"> {{call.callStatus}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
      <mat-cell *matCellDef="let call"> {{call.startTime}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
      <mat-cell *matCellDef="let call"> {{call.endTime}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
