<mat-toolbar id='footer' color="primary">
  <mat-toolbar-row>
    <span>
      <p>Copyright © 2019 Adeel Khan & Co. All rights reserved.</p>
    </span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
