.example-container{
  margin: 16px 0px 16px 0px;
}

.example-container > * {
  padding: 0px 8px 0px 8px;
  margin-top: 24px;
}

.example-container > button {
  line-height: 30px;
}

.wide-box {
  width: 632px;
}
