<div class="example-container">
  <mat-form-field class="wide-box">
    <input matInput placeholder="Please one or more phone numbers" type='tel' [(ngModel)]="called_number">
    <mat-hint align="begin">Use +12128881234 format</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="dial(called_number)">Dial</button>
</div>
