<app-banner></app-banner>
<app-dialer (messageEvent)='receiveMessage($event)' (lastCallEvent)='receiveLastCall($event)'></app-dialer>
<app-results [parentMessage]='message' [lastCall]='lastCallMessage'></app-results>
<!-- <app-footer></app-footer> -->