@import '../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

//JPMC Color Palette
$md-jpmc: (
    50 : #e0e9ef,
    100 : #b3c8d8,
    200 : #80a3be,
    300 : #4d7ea4,
    400 : #266291,
    500 : #00467d,
    600 : #003f75,
    700 : #00376a,
    800 : #002f60,
    900 : #00204d,
    A100 : #80a8ff,
    A200 : #4d85ff,
    A400 : #1a62ff,
    A700 : #0150ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jpmc-app-primary: mat-palette($md-jpmc);
$jpmc-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jpmc-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$jpmc-app-theme: mat-light-theme($jpmc-app-primary, $jpmc-app-accent, $jpmc-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($jpmc-app-theme);