/* You can add global styles to this file, and also import other style files */
@import './jpmc.scss';
@import 'node_modules/mapbox-gl/dist/mapbox-gl.css';

body {
	margin: 0px;
}

.icon {
	display: block;
  width: 128px;
	height: 100%;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: auto;
}
.icon-logo {
	background-image: url('src/assets/voicepath_logo.svg');
	filter: invert(1);
	// position: relative;
}

#map {
	position: relative;
	width: 728px;
	height: 540px;
}
